.side_by_side {
    width: 100%;
    display: flex;
}

.side_by_side.left,
.side_by_side.right {
    justify-content: center;
}

.text {
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Media query for narrower screens */
@media (max-width: 60em) {
    .picture_left {
        flex-direction: column;
    }

    .picture_right {
        flex-direction: column-reverse;
    }

    .side_by_side.left,
    .side_by_side.right {
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1em;
        margin-right: 1em;
    }
}


/* Paragraph List */
.paragraph_list {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.paragraph_list p {
    padding-top: 0.5em;
    text-align: left;
}


/* Promo Photos */
.promo_photo {
    width: 80%;
    padding: .5em;
    margin: 2em;
    object-fit: cover;
}

/* Banner Photo */
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100%;
}

.banner .text_overlay {
    position: absolute;
    top: 5%;
    text-align: center;
    text-shadow:
        .01em .01em 0 white,
        -.01em .01em 0 white,
        .01em -.01em 0 white,
        -.01em -.01em 0 white;
}

@media (max-width: 40em) {
    .banner .text_overlay {
        font-size: 20pt;
    }
}
