@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&family=Newsreader&family=Rubik+Vinyl&display=swap"&display=swap');


* {
    /* Set up the document properly */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Variables */
    --contrast_color_1: #dbcbdb;
    /* Light Purple */
    --contrast_color_2: #bccbbc;
    /* Light Green */
    --contrast_color_3: #dbcbbc;
    /* Light Orange */
    --header_footer_color: #ababab;
    /* Light Gray */
    --header_footer_text_color: #4268e4;
    /* Dark Blue */
    --header_footer_color_hover: #898989;
    /* Darker Gray */
    --header_footer_color_active: #676767;
    /* Darkest Gray */
}


/* Premade "widgets */
body {
    background-color: var(--header_footer_color);
}

main {
    display: flex;
    flex-direction: column;
}

a {
    color: black;
}

button {
    background-color: var(--header_footer_color);
    border: none;
}

button:hover {
    background-color: var(--header_footer_color_hover);
}

button:active {
    background-color: var(--header_footer_color_active);
}


/* Font stuff */
.complementary_font,
.message_font,
.formal_font,
.main_text {
    font-weight: 600;
}

.main_text {
    font-family: "Bangers";
    font-style: normal;
    padding: .5em;
}

.complementary_font {
    font-family: "Rubik Vinyl";
}

.message_font {
    font-family: "Montserrat";
    line-height: 1.2;
}

.formal_font {
    font-family: "Newsreader";
    line-height: 1.2;
}


/* Font sizes */
.complementary_font,
.message_font,
.formal_font {
    /* Faux bolding that works at low resolutions and high resolutions */
    text-shadow:
        .01em .01em 0 black,
        -.01em .01em 0 black,
        .01em -.01em 0 black,
        -.01em -.01em 0 black;
}

.large {
    font-size: 42pt;
}

.medium {
    font-size: 30pt;
}

.normal {
    font-size: 14pt;
}


/* Update the font sizes if the page is too small */
@media (max-width: 40em) {
    .large {
        font-size: 30pt;
    }

    .medium {
        font-size: 20pt;
    }

    .normal {
        font-size: 10pt;
    }

}
