.green_header {
    text-shadow: none;
}

.green_bubble {
    background-color: #00b100;
    text-shadow: none;
}

.blue_header {
    text-shadow: none;
}

.blue_bubble {
    background-color: #009fd2;
    text-shadow: none;
}
