* {
    /* Set up the document properly */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Set page behaviors */
    overscroll-behavior: contain;

    /* Variables */
    --contrast_color_1: #dbcbdb;
    /* Light Purple */
    --contrast_color_2: #bccbbc;
    /* Light Green */
    --contrast_color_3: #dbcbbc;
    /* Light Orange */
    --header_footer_color: #ababab;
    /* Light Gray */
    --header_footer_text_color: #4268e4;
    /* Dark Blue */
    --header_footer_color_hover: #898989;
    /* Darker Gray */
    --header_footer_color_active: #676767;
    /* Darkest Gray */
}

/* Generic components */
body {
    background-color: var(--header_footer_color);
}

main {
    flex-direction: column;
}

header {
    z-index: 2;
    position: sticky;
    top: 0;
}

footer {
    z-index: 1;
}

button {
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    color: var(--header_footer_text_color);
    background-color: var(--header_footer_color);
    border: none;
}

button:hover {
    background-color: var(--header_footer_color_hover);
}

button:active {
    background-color: var(--header_footer_color_active);
}

button:focus {
    outline: none;
}

button:disabled {
    filter: brightness(90%);
}
button:disabled:hover {
    filter: brightness(80%) !important;
}
button:disabled:active {
    filter: brightness(80%) !important;
}

input {
    border: 0.2em double;
}

/* Font stuff */
@font-face {
    font-family: "Bangers";
    src: url("/fonts/Bangers.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Slabo";
    src: url("/fonts/RobotoSlab.woff2") format("woff2");
    font-weight: 900 bold;
}

@font-face {
    font-family: "Fascinate Inline";
    src: url("/fonts/FascinateInline.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

.complementary_font,
.message_font,
.bordered_message_font,
.main_text {
    font-weight: 600;
}

.main_text {
    font-family: "Bangers";
    padding: 0.5em;
}

.complementary_font {
    font-family: "Fascinate Inline";
}

.message_font {
    font-family: "Roboto Slabo";
    line-height: 1.2;
}

.bordered_message_font {
    font-family: "Roboto Slabo";
    line-height: 1.2;
}

/* Font sizes */
.complementary_font,
.bordered_message_font {
    /* Faux bolding that works at low resolutions and high resolutions */
    text-shadow:
        0.02em 0.02em 0 white,
        -0.02em 0.02em 0 white,
        0.02em -0.02em 0 white,
        -0.02em -0.02em 0 white;
}

.large {
    font-size: 42pt;
}

.medium {
    font-size: 30pt;
}

.normal {
    font-size: 20pt;
}

.small {
    font-size: 14pt;
}

.very_small {
    font-size: 12pt;
}

/* Update the font sizes if the page is too small */
@media (max-width: 60em) {
    .large {
        font-size: 30pt;
    }

    .medium {
        font-size: 16pt;
    }

    .normal {
        font-size: 14pt;
    }

    .small {
        font-size: 12.5pt;
    }

    .very_small {
        font-size: 10pt;
    }
}

/* Shadows */
.shadow_down {
    box-shadow: 0px 0.5em 1em 0px rgba(0, 0, 0, 0.7);
}

.shadow_up {
    box-shadow: 0px -0.5em 1em 0px rgba(0, 0, 0, 0.7);
}

/* Rounding */
.small_corner_rounding {
    border-radius: 0.5em;
    overflow: hidden;
}

.corner_rounding {
    border-radius: 3em;
    overflow: hidden;
}

/* Mettalic */
.metallic {
    /* Took inspiration and help from: https://ibelick.com/blog/creating-metallic-effect-with-css */
    /* Modified values a bit */
    background: linear-gradient(
        45deg,
        #999 4%,
        #eee 10%,
        #bbb 30%,
        #ddd 40%,
        #eee 65%,
        #fff 75%,
        #888 95%
    );
}

/* Push sides */
.push_left {
    justify-content: flex-start;
}

.push_right {
    justify-content: flex-end;
}

/* Center */
.center {
    justify-content: center;
}
