/* Splitter */
.splitter {
    width: 100%;
    display: flex;
}

.splitter .left,
.splitter .right {
    flex: 1;
    display: flex;
}

/* Dropdown Menus */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 5em;
    box-shadow: 0px .5em 1em 0px rgba(0, 0, 0, 0.7);
    z-index: 1;
    border-radius: .25rem;
    overflow: hidden;

    opacity: 0;
    transform: translateY(1em);
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.dropdown_content.visible {
    opacity: 1;
    transform: translateY(0);
}

.dropdown_content.hidden {
    opacity: 0;
    transform: translateY(1em);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}

.dropdown_content button {
    background-color: #f9f9f9;
    box-shadow: none;
    height: min-content;
}

.dropdown_content button:hover {
    background-color: #c7c7c7;
    box-shadow: none;
    height: min-content;
}

.dropdown_content button:active {
    background-color: #a7a7a7;
    box-shadow: none;
    height: min-content;
}

.dropdown_content div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdown_content div button {
    flex: 1;
}

.hidden_div {
    padding: .2em;
}
