/* Splitter */
.splitter {
    width: 100%;
    display: flex;
}

.splitter .left,
.splitter .right {
    flex: 1;
    display: flex;
}

/* Dropdown Menus */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    margin: .2em;
    /* TODO make a background none div that fakes the margin so mouse dragging doesn't close this */
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 5em;
    box-shadow: 0px .5em 1em 0px rgba(0, 0, 0, 0.7);
    z-index: 1;
    border-radius: .25rem;
    overflow: hidden;
}

.dropdown:hover .dropdown_content {
    display: grid;
    opacity: 1;
}

.dropdown_content button {
    background-color: #f9f9f9;
    box-shadow: none;
    height: min-content;
}
.dropdown_content button:hover {
    background-color: #c7c7c7;
    box-shadow: none;
    height: min-content;
}
.dropdown_content button:active {
    background-color: #a7a7a7;
    box-shadow: none;
    height: min-content;
}

.dropdown_content div {
    display: flex;
    justify-content: space-between;
}

.dropdown_content div button {
    flex: 1;
}

.dropdown_content .form_format {
    padding: 0.25em;
    display: flex;
    flex-direction: column;
}