/* Header */
.header {
    z-index: 10;
    position: sticky;
    top: 0;

    /* Took inspiration and help from: https://ibelick.com/blog/creating-metallic-effect-with-css */
    /* Modified values a bit */
    background: linear-gradient(45deg, #999 4%, #eee 10%, #bbb 30%, #ddd 40%, #eee 65%, #fff 75%, #888 95%);
}

.header_splitter {
    width: 100%;
    display: flex;
}

.header_splitter .left,
.header_splitter .right {
    flex: 1;
    display: flex;
    background: none;
}

.header_splitter .left {
    justify-content: flex-start;
    padding-left: 0.5em;
}

.header_splitter .right {
    justify-content: flex-end;
}

.header_splitter button {
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    color: var(--header_footer_text_color);
    background-color: var(--header_footer_color);
    border: none;
}

.header_splitter button:hover {
    background-color: var(--header_footer_color_hover);
}


/* Footer */
.footer {
    background-color: var(--header_footer_color);
    width: 100%;
    margin-top: auto;
    background: linear-gradient(45deg, #999 4%, #eee 10%, #bbb 30%, #ddd 40%, #eee 65%, #fff 75%, #888 95%);
}

.footer .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer button {
    height: 100%;
    padding: .75em;
    box-sizing: border-box;
    color: var(--header_footer_text_color);
    background-color: var(--header_footer_color);
    border: none;
}

.footer button:hover {
    background-color: var(--header_footer_color_hover);
}

.footer button:active {
    background-color: var(--header_footer_color_active);
}


/* Dropdown Menus */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    margin: .2em;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 5em;
    box-shadow: 0px .5em 1em 0px rgba(0, 0, 0, 0.7);
    z-index: 1;
    border-radius: .25rem;
    overflow: hidden;
}

.dropdown:hover .dropdown_content {
    display: grid;
    opacity: 1;
}

.dropdown_content button {
    background-color: #f9f9f9;
    box-shadow: none;
    height: min-content;
}

.dropdown_content div {
    display: flex;
    justify-content: space-between;
}

.dropdown_content div button {
    flex: 1;
}

.dropdown_content .form_format {
    padding: 0.25em;
    display: flex;
    flex-direction: column;
}
